<div ng-controller="mapController as controller" id="map-container">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control input-xs" ng-model="selectedMapIndex">
                        <option ng-repeat="map in maps" value="{{$index}}">{{map.name}}</option>
                    </select>
                </div>
                <div class="col-sm-4 text-left">
                    <button type="button" class="btn btn-sm" ng-click="controller.getMapData(selectedMapIndex)">Get Map Data</button>
                </div>
                <div class="col-sm-5 text-right">
                    <label>ZOOM:</label> {{mapData.options.zoom}}
                </div>
                <div class="col-sm-1 text-left">
                    <button type="button" class="btn btn-sm" ng-click="controller.scaleMap(-1)">-</button>
                    <button type="button" class="btn btn-sm" ng-click="controller.scaleMap(+1)">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <blockquote>
                <p>
                    GeoJSON[1] is an open standard format designed for representing simple geographical features, along with their non-spatial attributes, based on JavaScript Object Notation.
                    <a href="https://en.wikipedia.org/wiki/GeoJSON">https://en.wikipedia.org/wiki/GeoJSON</a>
                </p>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 axis-cont">
            <!--<ul class="x-axis">
                <li ng-repeat="point in axisPoints track by $index">{{point.val * 25}}</li>
            </ul>
            <ul class="y-axis">
                <li ng-repeat="point in axisPoints track by $index">{{point.val * 25}}</li>
            </ul>-->
            <canvas id="canvas" height="600" width="1200" ng-mousemove="controller.onMouseMove()" ng-mousedown="controller.onMouseDown()" ng-mouseup="controller.onMouseUp()"></canvas>
        </div>
    </div>

</div>